@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navigation {
  padding: 0vw 10vw;
  height: 10vh;
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.navigation__logo {
  color: #130f0b;
  cursor: pointer;
}

.navigation__logo span {
  color: #ecaf4e;
}

.navigation__links {
  display: flex;
}

.navigation__links .active {
  color: #ecaf4e;
  font-weight: 600;
}

.navigation__links a {
  text-decoration: none;
  color: #383838;
}

.navigation__links a:hover {
  box-shadow: 0px 3px #ecaf4e;
  transition: ease-in-out 0.5s;
}

.navigation__link {
  cursor: pointer;
  list-style: none;
  padding-left: 1rem;
  text-transform: uppercase;
}

.menu {
  transition: all ease-in 0.2s;
  position: fixed;
  background-color: #ffffffde;
  margin: 0;
}

.menu-mid {
  transition: all ease-in 0.5s;
  margin-top: -100px;
}

.hamburger {
  display: none;
  width: 20px;
  height: 3px;
  background: #ecaf4e;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.hamburger:before {
  top: -8px;
}

.hamburger:after {
  top: 8px;
}

.hamburger-one:before {
  width: 10px;
}

.hamburger-one:after {
  width: 30px;
}

.hamburger-one:before,
.hamburger-one:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #ecaf4e;
  transition: 0.5s;
}

.ham-rotate {
  transform: rotate(180deg);
  background: transparent;
}

.ham-rotate::before {
  transform: rotate(-45deg) translate(-6px, 7px);
  width: 25px;
}

.ham-rotate::after {
  transform: rotate(45deg) translate(-5px, -5px);
  width: 25px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background-color: #e7d8cf;
}

.hero__image {
  background-image: url("https://images.unsplash.com/photo-1512850692650-c382e34f7fb2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format");
  background-size: cover;
  background-position: center;
}

.hero__content {
  padding: 5rem 2rem;
  display: flex;
  place-items: center;
  color: #555555;
}

.hero__content h1 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #242424;
  padding: 2rem 0rem;
  line-height: 3rem;
}

.hero__content h1 span {
  font-weight: 600;
}

.hero__content p {
  padding-bottom: 4rem;
}

.hero__content .btn {
  padding: 1em 2rem;
  border: 3px solid #242424;
  background-color: transparent;
  border-radius: 25rem;
  font-weight: 600;
  transition: ease-in 0.3s;
  cursor: pointer;
}

.hero__content .btn:hover {
  background-color: #242424;
  color: #f0f0f0;
}

.about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.about__content {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  background-color: #dddddd;
}

.about__content h1 {
  color: #242424;
  font-size: 2rem;
  font-weight: 400;
}

.about__content p {
  color: #555555;
  padding-top: 0.5rem;
}

.about__content .heighlight {
  color: #fc683e;
  padding-bottom: 1rem;
}

.about__image {
  background-image: url("https://images.unsplash.com/photo-1512850958844-70d66581e2b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
}

.about__skills {
  padding: 2rem;
  background-color: #ecaf4e;
  color: #fcfcfc;
}

.about__skills h1 {
  font-size: 2rem;
  font-weight: 400;
}

.about__skills__divs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 5px;
  margin-top: 2rem;
}

.about__skills__divs p {
  color: #242424;
  height: 25px;
}

.about__skills__divs .percentage {
  text-align: right;
}

.about__skills__divs input {
  grid-column: 1 / span 2;
}

.about__skills__divs .slider-1,
.about__skills__divs .slider-2,
.about__skills__divs .slider-3 {
  -webkit-appearance: none;
  outline: none;
  cursor: none;
  border-radius: 5px;
}

.about__skills__divs .slider-1::-webkit-slider-thumb,
.about__skills__divs .slider-2::-webkit-slider-thumb,
.about__skills__divs .slider-3::-webkit-slider-thumb {
  border-radius: 5px;
  appearance: none;
  height: 6px;
  background: #242424;
  float: left;
}

.about__skills__divs .slider-1::-webkit-slider-thumb {
  width: 90%;
}

.about__skills__divs .slider-2::-webkit-slider-thumb {
  width: 70%;
}

.about__skills__divs .slider-3::-webkit-slider-thumb {
  width: 80%;
}

.about__interface-design, .about__media, .about__mobile, .about__coding {
  background-color: #ecaf4e;
  padding: 2rem;
  text-align: center;
  color: #fcfcfc;
}

.about__interface-design i, .about__media i, .about__mobile i, .about__coding i {
  padding: 2rem 1rem;
}

.about__interface-design h2, .about__media h2, .about__mobile h2, .about__coding h2 {
  font-weight: 400;
  padding-bottom: 1rem;
}

.about__interface-design .btn, .about__media .btn, .about__mobile .btn, .about__coding .btn {
  padding: 1em 2em;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
  background-color: #dddddd;
}

.about__interface-design .btn:hover, .about__media .btn:hover, .about__mobile .btn:hover, .about__coding .btn:hover {
  transition: transform 0.5s;
  transform: scale(1.03);
}

.about__media {
  background-color: #fc683e;
}

.about__mobile {
  background: #242424;
}

.about__coding {
  color: #555555;
  background-color: #fcfcfc;
}

.experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.experience__image-ex {
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-position: center;
}

.experience__about {
  background-color: #fc683e;
  color: #ffffff;
  padding: 4rem 2rem;
}

.experience__about h1 {
  font-size: 2rem;
  font-weight: 400;
}

.experience__about__job {
  padding: 1rem 0rem;
  display: flex;
  place-items: center;
}

.experience__about__job i {
  padding-right: 1rem;
}

.experience__about__job span {
  color: #242424;
  font-size: 0.9rem;
  padding-left: 1rem;
}

.experience__qual {
  background-color: #ecaf4e;
  color: #ffffff;
  padding: 4rem 2rem;
}

.experience__qual h1 {
  font-size: 2rem;
  font-weight: 400;
}

.experience__qual__job {
  padding: 1rem 0rem;
  display: flex;
  place-items: center;
}

.experience__qual__job i {
  padding-right: 1rem;
}

.experience__qual__job span {
  color: #242424;
  font-size: 0.9rem;
  padding-left: 1rem;
}

.experience__image-ql {
  background-image: url("    https://images.unsplash.com/photo-1514302240736-b1fee5985889?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=773&q=80");
  background-position: center;
}

.contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.contact__form {
  grid-column: 1 / span 2;
  padding: 2rem;
  background-color: #fc683e;
  color: #ffffff;
}

.contact__form h1 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 0.6rem;
}

.contact__form form {
  display: flex;
  flex-direction: column;
}

.contact__form form input,
.contact__form form textarea {
  border: none;
  margin: 2rem 0em;
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0px 2px #ecaf4e;
  padding-bottom: 0.3em;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

.contact__form form input:focus-visible,
.contact__form form textarea:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.contact__form form input:focus-visible::placeholder,
.contact__form form textarea:focus-visible::placeholder {
  transition: transform 0.5s;
  transform: translateY(-20px);
  z-index: 99;
}

.contact__form form ::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact__form form :-ms-input-placeholder,
.contact__form form ::-ms-input-placeholder {
  color: #ffffff;
}

.contact__form form button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 30px;
  width: auto;
  padding: 1em 1em;
  cursor: pointer;
  transition: 0.5s;
}

.contact__form form button:hover {
  background-color: #ffffff;
  color: #000;
}

.contact__image {
  background-image: url("https://images.unsplash.com/photo-1494607239400-ff147da48308?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=859&q=80");
  background-position: right;
  background-size: cover;
}

.contact__address {
  background-color: #242424;
  color: #ffffff;
  padding: 2rem;
}

.contact__address h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.contact__address p {
  padding-top: 1rem;
  color: #e7e7e7;
}

.contact__address div {
  padding: 1rem 0rem;
}

.contact__address div a,
.contact__address div i {
  color: #ecaf4e;
}

.contact__address div a {
  text-decoration: none;
  padding-left: 1rem;
}

.contact__map {
  background-color: #fc683e;
  grid-column: 1 / span 4;
  padding: 1rem 4rem;
}

.footer {
  text-align: center;
  padding: 8rem 0rem;
  color: #b3b3b3;
}

.footer__heading {
  font-weight: 400;
}

.footer__heading a {
  color: #ecaf4e;
  text-decoration: none;
}

.footer__icons {
  padding: 2rem 0rem;
}

.footer__icons i {
  padding: 0rem 1rem;
  cursor: pointer;
}

.footer__icons i:hover {
  transform: 0.4s;
  color: #ecaf4e;
}

@media screen and (max-width: 768px) {
  .navigation__links {
    display: none;
    transition: 1s;
  }
  .navigation .hamburger {
    display: inline;
  }
  .show-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    width: 100vw;
    background: #fff;
    top: 0px;
    left: 0px;
    place-content: center;
    text-align: center;
    transition: 1s;
  }
  .show-menu li {
    padding: 0.5rem 0rem;
    font-size: 1.5rem;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero__image {
    height: 50vh;
  }
  .about {
    grid-template-rows: repeat(4, 1fr);
  }
  .about__content {
    grid-column: 1 / span 4;
  }
  .about__image {
    grid-column: 1 / span 2;
  }
  .about__skills {
    grid-column: 3 / span 4;
  }
  .about__interface-design, .about__media, .about__mobile, .about__coding, .about__mobile {
    grid-column: 1 / span 2;
  }
  .about__media, .about__coding {
    grid-column: 3 / span 4;
  }
  .contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .contact__form, .contact__address {
    grid-column: 1 / span 1;
  }
  .contact__image, .contact__map {
    grid-column: 2 / span 2;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    height: auto;
  }
  .hero__content {
    padding: 1rem 2rem;
  }
  .hero__content h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .about__skills__divs p {
    font-size: 0.7rem;
  }
  .experience {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .experience__qual {
    grid-row: 4 / span 4;
  }
  .contact {
    grid-template-rows: repeat(3, 1fr);
  }
  .contact__address, .contact__map {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 480px) {
  .about {
    grid-template-rows: auto;
  }
  .about__image {
    height: 50vh;
  }
  .about__image, .about__skills, .about__interface-design, .about__media, .about__mobile, .about__coding, .about__media, .about__mobile, .about__coding {
    grid-column: 1 / span 7;
  }
  .experience {
    grid-template-rows: auto;
  }
  .experience__image-ex, .experience__image-ql {
    height: 30vh;
  }
  .contact {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .contact__image {
    height: 30vh;
    grid-column: 1 / span 1;
  }
  .contact__map {
    height: 30vh;
  }
}
