.about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &__content {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    background-color: #dddddd;

    h1 {
      color: #242424;
      font-size: 2rem;
      font-weight: 400;
    }

    p {
      color: #555555;
      padding-top: 0.5rem;
    }

    .heighlight {
      color: #fc683e;
      padding-bottom: 1rem;
    }
  }
  &__image {
    background-image: url("https://images.unsplash.com/photo-1512850958844-70d66581e2b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format");
    background-position: center;
    background-size: cover;
  }
  &__skills {
    padding: 2rem;
    background-color: #ecaf4e;
    color: #fcfcfc;

    h1 {
      font-size: 2rem;
      font-weight: 400;
    }

    &__divs {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 30px 5px;
      margin-top: 2rem;
      p {
        color: #242424;
        height: 25px;
      }

      .percentage {
        text-align: right;
      }

      input {
        grid-column: 1 / span 2;
      }

      .slider-1,
      .slider-2,
      .slider-3 {
        -webkit-appearance: none;
        outline: none;
        cursor: none;
        border-radius: 5px;
      }

      .slider-1::-webkit-slider-thumb,
      .slider-2::-webkit-slider-thumb,
      .slider-3::-webkit-slider-thumb {
        border-radius: 5px;
        -webkit-appearance: none;
        appearance: none;
        height: 6px;
        background: #242424;
        float: left;
      }
      .slider-1::-webkit-slider-thumb {
        width: 90%;
      }
      .slider-2::-webkit-slider-thumb {
        width: 70%;
      }
      .slider-3::-webkit-slider-thumb {
        width: 80%;
      }
    }
  }
  &__interface-design {
    background-color: #ecaf4e;
    padding: 2rem;
    text-align: center;
    color: #fcfcfc;

    i {
      padding: 2rem 1rem;
    }

    h2 {
      font-weight: 400;
      padding-bottom: 1rem;
    }

    .btn {
      padding: 1em 2em;
      margin-top: 1em;
      border: none;
      border-radius: 5px;
      background-color: #dddddd;

      &:hover {
        transition: transform 0.5s;
        transform: scale(1.03);
      }
    }
  }
  &__media {
    @extend .about__interface-design;
    background-color: #fc683e;
  }
  &__mobile {
    @extend .about__interface-design;
    background: #242424;
  }
  &__coding {
    @extend .about__interface-design;
    color: #555555;
    background-color: #fcfcfc;
  }
}
