.navigation {
  padding: 0vw 10vw;
  height: 10vh;
  display: flex;
  place-items: center;
  justify-content: space-between;

  position: absolute;
  width: 100%;

  &__logo {
    color: #130f0b;
    cursor: pointer;
    span {
      color: #ecaf4e;
    }
  }

  &__links {
    display: flex;

    .active {
      color: #ecaf4e;
      font-weight: 600;
    }

    a {
      text-decoration: none;
      color: #383838;

      &:hover {
        box-shadow: 0px 3px #ecaf4e;
        transition: ease-in-out 0.5s;
      }
    }
  }

  &__link {
    cursor: pointer;
    list-style: none;
    padding-left: 1rem;
    text-transform: uppercase;
  }
}

.menu {
  transition: all ease-in 0.2s;
  position: fixed;
  background-color: #ffffffde;
  margin: 0;
}

.menu-mid {
  transition: all ease-in 0.5s;
  margin-top: -100px;
}

.hamburger {
  display: none;
  width: 20px;
  height: 3px;
  background: #130f0b;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.hamburger:before {
  border-radius: 10px;
  top: -8px;
}

.hamburger:after {
  border-radius: 10px;
  top: 8px;
}

.hamburger-one:before {
  width: 10px;
}
.hamburger-one:after {
  width: 30px;
}

.hamburger-one:before,
.hamburger-one:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #ecaf4e;
  transition: 0.5s;
}

.ham-rotate {
  transform: rotate(180deg);
  background: transparent;

  &::before {
    transform: rotate(-45deg) translate(-6px, 7px);
    width: 25px;
  }

  &::after {
    transform: rotate(45deg) translate(-5px, -5px);
    width: 25px;
  }
}
