@include screen-md {
  .navigation {
    &__links {
      display: none;
      transition: 1s;
    }

    .hamburger {
      display: inline;
    }
  }

  .show-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    width: 100vw;
    background: #fff;
    top: 0px;
    left: 0px;
    place-content: center;
    text-align: center;
    transition: 1s;

    li {
      padding: 0.5rem 0rem;
    }
  }

  .hero {
    grid-template-columns: repeat(1, 1fr);

    &__image {
      height: 50vh;
    }
  }

  .about {
    grid-template-rows: repeat(4, 1fr);

    &__content {
      grid-column: 1 / span 4;
    }

    &__image {
      grid-column: 1 / span 2;
    }

    &__skills {
      grid-column: 3 / span 4;
    }

    &__interface-design,
    &__mobile {
      grid-column: 1 / span 2;
    }

    &__media,
    &__coding {
      grid-column: 3 / span 4;
    }
  }

  .contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &__form,
    &__address {
      grid-column: 1 / span 1;
    }

    &__image,
    &__map {
      grid-column: 2 / span 2;
    }
  }
}

@include screen-md-sm {
  .hero {
    height: auto;
    &__content {
      padding: 1rem 2rem;
      h1 {
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }
  }

  .about {
    &__skills {
      &__divs {
        p {
          font-size: 0.7rem;
        }
      }
    }
  }

  .experience {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);

    &__qual {
      grid-row: 4 / span 4;
    }
  }

  .contact {
    grid-template-rows: repeat(3, 1fr);

    &__address,
    &__map {
      grid-column: 1 / span 2;
    }
  }
}

@include screen-sm {
  .about {
    // grid-template-rows: repeat(7, 1fr);
    grid-template-rows: auto;

    &__image {
      height: 50vh;
    }
    &__image,
    &__skills,
    &__interface-design,
    &__media,
    &__mobile,
    &__coding {
      grid-column: 1 / span 7;
    }
  }

  .experience {
    grid-template-rows: auto;
    &__image-ex,
    &__image-ql {
      height: 30vh;
    }
  }

  .contact {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

    &__image {
      height: 30vh;
      grid-column: 1 / span 1;
    }

    &__map {
      height: 30vh;
    }
  }
}
